<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title> Clima/Tempo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title>Macatuba</ion-card-title>
        <ion-item lines="none" class="temp" slot="end">
          <ion-icon name="thermometer"></ion-icon>
          <p>45%</p>
        </ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-content>

      <ion-item class="prev_cab">
        <ion-label>Data</ion-label>
        <ion-label>Min/Max</ion-label>
        <ion-label>Previsão</ion-label>
      </ion-item>

      <ion-item class="prev">
        <ion-label>12/08/2022</ion-label>
        <ion-label>18°C/32°</ion-label>
        <ion-icon name="sunny"></ion-icon>
      </ion-item>

      <ion-item class="prev">
        <ion-label>08/08/2022</ion-label>
        <ion-label>20°C/37°</ion-label>
        <ion-icon name="rainy"></ion-icon>
      </ion-item>

      <ion-item class="prev">
        <ion-label>12/08/2022</ion-label>
        <ion-label>12°C/28°</ion-label>
        <ion-icon name="cloudy"></ion-icon>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
